@model ProductPostDto
@{
    ViewData["Title"] = "Create Product";
}

<div>
    <div class="mb-4" style="font-size: 25px">
        Create Category
    </div>
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name">Product Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Type here...">
            <span asp-validation-for="Name" class="text text-danger "></span>
        </div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" type="text" class="form-control" placeholder="Type here...">
            <span asp-validation-for="Title" class="text text-danger "></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" type="text" class="form-control" placeholder="Type here...">
            <span asp-validation-for="Description" class="text text-danger "></span>
        </div>
        <div class="form-group">
            <label asp-for="Information"></label>
            <input asp-for="Information" type="text" class="form-control" placeholder="Type here...">
            <span asp-validation-for="Information" class="text text-danger "></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" type="number" class="form-control" placeholder="Type here...">
            <span asp-validation-for="Price" class="text text-danger "></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Select Category</label>
            <select class="form-control" asp-for="CategoryId">
                @foreach (var cat in ViewBag.Categories)
                {
                    <option value="@cat.Id">@cat.Name</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text text-danger "></span>
        </div>
        <div class="size-color-main">
            <label asp-for="SizeIds">Select Sizes</label>
            <div class="size-color">
                <div class="form-group d-flex justify-content-between mb-1">
                    <div class="select-sizes ">
                        <select class="form-control mt-3" style="width:20rem" name="SizeIds">
                            @foreach (var size in ViewBag.Sizes)
                            {
                                <option value="@size.Id">@size.Value</option>
                            }
                        </select>
                    </div>
                    <div class="ms-5">
                    <label>Select Colors</label>
                        <div class="d-flex">
                            @foreach (var col in ViewBag.Colors)
                            {
                                <div class="form-check me-4">
                                    <label class="form-check-label">@col.Value</label>
                                    <input class="form-check-input" type="checkbox" name="ColorIds" value="@col.Id">
                                </div>
                            }
                            <input hidden name="ColorIds" value="-1" />
                        </div>
                    </div>
                    <div class="ms-5">
                        <label>Enter Count</label>
                        <div class="d-flex">
                            <div class="form-check me-4 p-0">
                                <input class="form-input" type="number" name="Counts" value="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="AddSize btn btn-primary mb-3 btn-sm"><i class="fas fa-plus-circle"></i></div>
        <span asp-validation-for="SizeIds" class="text text-danger "></span>

        <div class="form-group">
            <label asp-for="formFiles" class="form-label">File Upload</label>
            <input asp-for="formFiles" class="form-control" accept="image/*" multiple />
            <span asp-validation-for="formFiles" class="text text-danger "></span>
            <small class="text-muted">Please, select image under 2MB</small>
        </div>
        <button type="submit" class="btn btn-success text-light">Submit</button>
        <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-danger">Cancel</a>
    </form>
</div>


